* {
  padding: 0;
  margin: 0;
  /* width: 100%;
    height: 100%; */
}
body {
  background: #fafafa;
  padding: 30px;
}
/* ================nav================================== */
nav {
  display: flex;

  justify-content: space-around;

  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 1pc;
}
nav .logo img.img1 {
  height: 35px;
  width: 35px;
}
nav .logo h1 {
  font-family: "Sofia", sans-serif;
}
nav .logo img.img2 {
  width: 9pc;
}
nav ui {
  cursor: pointer;
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav-ui-li-1 {
  border-radius: 3px;
  border: 1px solid #80808087;
  padding: 7px;
  color: #008000b8;
}
.nav-ui-li-1 li a {
  text-decoration: none;
}
.nav-ui-li-1:hover {
  /* padding: 7px; */
  outline: none;
  border-radius: 3px;
  color: white;
  background: #008000b8;
}
.nav-ui-li-2 {
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 3px;
  color: white;
  background: #008000b8;
}
.nav-ui-li-2:hover {
  /* font-family: "Sofia", sans-serif; */
  border: 1px solid #808080;
  border-radius: 3px;
  color: #008000b8;
  background: #ffffffb8;
}
.nav-ui-li-2 li a {
  text-decoration: none;
}

/* ================nav================================== */
/* ================section================================== */

.sectionM {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  width: 100%;
  gap: 2pc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section_1 {
  padding-top: 7pc;
  display: flex;
  gap: 1.5rem;
  width: 50%;
  flex-direction: column;
}

.section_2 {
  font-family: "Sofia", sans-serif;
  width: 50%;
}

.section_1 h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.section_1 p {
  font-family: "Sofia", sans-serif;
  color: #040404ab;
}
section .btn {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 3px;
  color: white;
  background: #008000b8;
  align-self: self-start;
}
section .btn:hover {
  border: 1px solid #808080;
  border-radius: 3px;
  color: #008000b8;
  background: #ffffffb8;
}
section.btn a {
  text-decoration: none;
}
/* ================section================================== */

/* ================footer================================== */

footer {
  color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
  align-content: center;
  padding: 2pc;
}
/* ================footer================================== */

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .sectionM {
    flex-direction: column;
    gap: 2pc;
  }
  .section_1 {
    width: 100%;
  }
  .section_1 h1 {
    font-size: 1.5rem;
  }
  .section_1 p {
    font-size: 1rem;
  }
  .section_2 {
    font-size: 1rem;
    width: 100%;
  }
}
@media (max-width: 320px) {
  nav {
    flex-wrap: wrap;
    gap: 1pc;
  }
  .section_1 {
    padding-top: 1pc;
  }
}
